
<div>
    <p><%= @las %></p>
    <p><%= @dayg %></p>
    <p><%= @day %></p>
    <p><%= (@temp) %></p>
    <p></p>
    <p></p>
    <p></p>
    <div>
        <%= raw @rate[@opcion] %>
    </div>
    <button id="next" onclick="myFunction()">Next</button>

    
</div>