
<div>
    <p>City: <%= @las %></p>
    <p>Overall Description: <%= @dayg %></p>
    <p>Description: <%= @day %></p>
    <p>Temperature: <%= (@temp) %></p>
    <p></p>
    <p></p>
    <p></p>
    <div>
        <%= raw @rate %>
    </div>
    <%= button_to "Next", result_path(:location => @city, :card => (@opcion+1))%>

    
</div>