
<div>
    <p>City: <%= @las %></p>
    <p>Overall Description: <%= @dayg %></p>
    <p>Description: <%= @day %></p>
    <p>Temperature: <%= (@temp) %></p>
    <p></p>
    <p></p>
    <p></p>
    <div>
        <%= raw @rate[@opcion] %>
    </div>
    <button id="next" onclick="myFunction()">Next</button>

    
</div>